.card:hover {
    transform: scale(1.01);
}

.carousel-item img {
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}


#pricing .text-primary {
    color: #c29938 !important;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(45deg, #ff4b2b, #ff416c);
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.navbar .nav-link.active {
    font-weight: bold;
    color: #ffffff !important;
    background-color: rgb(32, 112, 150);
    border-radius: 20px;
}

.hidden {
    opacity: 0;
    transform: translateY(0px);
    transition: all 0.8s ease-in-out;
}

.visible {
    opacity: 1;
    transform: translateY(30px);
}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #f3f3f3;
    z-index: 1000;
}

.progress-bar {
    height: 5px;
    background: #00bcd4;
    width: 0%;
    transition: width 0.1s ease-out;
}

.highlight {
    background-color: #ffff99;
    transition: background-color 0.5s ease;
}

.sugest {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
}

.sugest li {
    cursor: pointer;
    border-bottom: 1px solid #eee;

}

.sugest li:hover {
    background-color: #f0f0f0;
}

.sugest-contact {
    position: relative;
}