 .show {
     display: inline-block;
     opacity: 1;
     transition: all 1s ease-in-out;
     animation: anime 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .hidden {
     display: none;
     opacity: 0;
 }

 @keyframes anime {
     0% {
         transform: translateY(40px);
     }

     100% {
         transform: translateY(0px);
     }
 }